<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../component/pear/css/pear.css" />
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form" lay-filter="layui-form">

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <img class="pic_url" src="../../readme/pic.png" height="200px" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">主图</label>
        <div class="layui-input-inline">
            <input type="text" name="firstUrl" id="pic_url" placeholder="不上传就留空" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-word-aux">
            <button type="button" class="layui-btn layui-btn-normal" id="pic">
                <i class="layui-icon ">&#xe67c;</i>上传主图
            </button>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">id</label>
        <div class="layui-input-inline">
            <input type="text" name="id" lay-verify="required" lay-reqtext="输入活动标题" placeholder="输入活动标题" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">活动标题</label>
        <div class="layui-input-inline">
            <input type="text" name="activityTitle" lay-verify="required" lay-reqtext="输入活动标题" placeholder="输入活动标题" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">活动地点</label>
        <div class="layui-input-inline">
            <input type="text" name="activityLocation"   placeholder="请输入地点信息" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">活动描述</label>
        <div class="layui-input-inline">
            <textarea name="activityDescription" placeholder="请输入描述信息" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">开始时间</label>
        <div class="layui-input-inline">
            <input type="text" id="date" name="startTime" lay-verify="datetime" readonly placeholder="设置开始时间" autocomplete="off" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="../../component/layui/layui.js"></script>
<script src="../../component/pear/pear.js"></script>
<script src="../../config/api.config.js"></script>
<script>
    const token = sessionStorage.token
    // console.log(token)
    layui.use(['form','upload','context','laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            upload = layui.upload,
            laydate = layui.laydate;
        $ = layui.$;
        const context = layui.context;
        const token = sessionStorage.getItem('token');
        var hostUrl = context.get("hostUrl")

        // 从父层获取值，json是父层的全局js变量。eval是将该string类型的json串变为标准的json串
        var parent_json = eval('(' + parent.json + ')');
        console.log(parent_json)
        //初始化表单
        form.val("layui-form", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
            "id":parent_json.id,
            "activityTitle":parent_json.activityTitle
            ,"firstUrl": parent_json.firstUrl // "name": "value"
            ,"activityLocation": parent_json.activityLocation
            ,"activityDescription":parent_json.activityDescription
            ,"startTime":parent_json.startTime
        });
        $('.pic_url').attr('src',hostUrl+parent_json.firstUrl)
        //日期
        laydate.render({
            elem: '#date'
            ,theme: '#f00'
            ,type: 'datetime'
        });

        upload.render({
            elem: '#pic' //绑定元素
            , url: hostUrl+"/file/upload.do" //上传接口
            ,acceptMime: 'image/*'
            ,exts: 'jpg|png|jpeg|gif'
            ,headers:{'token':token}
            , done: function (res) {
                //上传完毕回调
                if (res.code == 0) {
                    $("#pic_url").val(res.data);
                    $(".pic_url").attr("src", hostUrl+res.data);
                } else {
                    layer.msg(res.info, function () { })
                }
            }, error: function () {
                layer.msg("上传异常");
            }
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            console.log(data.field)
            var index = layer.alert("确认发布吗？", {
                title: '最终的提交信息'
            }, function () {
                $.ajax({
                    url:hostUrl+'/activitiesinfo/update.do',
                    //contentType: "application/json;charset=UTF-8",
                    method:'post',
                    crossDomain: true,
                    async:false,
                    headers:{'token':token},
                    data:data.field,
                    dataType:'JSON',
                    success:function(res){
                        console.log(res)
                        layer.msg(res.msg,{
                            time: 1000, //0.8s后自动关闭
                            icon:1,
                            end:function () {
                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(iframeIndex);
                                parent.layui.table.reload("user-table");
                                // parent.layui.table.reload('currentTableId',{
                                //     page:{curr:1},
                                //     url: hostUrl+'/activitiesinfo/selectAllActivities.do',
                                //     method:"post",
                                //     headers:{"token":token}});
                            }
                        });
                    },error:function (res) {
                    }
                }) ;
                // 关闭弹出层
                layer.close(index);



            });

            return false;
        });

    });
</script>
</body>
</html>