<!DOCTYPE html>
<html xmlns:0>
<head>
    <meta charset="utf-8">
    <title>公告管理</title>
    <link rel="stylesheet" href="../../component/pear/css/pear.css" />
    <style>

    </style>
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-form-item layui-inline">
                    <label class="layui-form-label">公告标题</label>
                    <div class="layui-input-inline">
                        <input type="text" name="newsTitle"  autocomplete="off"  class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-inline">
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="layui-card">
    <div class="layui-card-body">
        <table id="user-table" lay-filter="user-table"></table>
    </div>
</div>

<script type="text/html" id="user-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>

<script type="text/html" id="user-bar">
    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
</script>

<script type="text/html" id="user-enable">
    {{#if (d.status == 0) { }}
    <input  type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="user-enable"  checked >
    {{# }else if(d.status ==1){ }}
    <input  type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="启用|禁用" lay-filter="user-enable">
    {{# } }}
</script>

<!--		<script type="text/html" id="user-sex">-->
<!--			{{#if (d.sex == 1) { }}-->
<!--		    <span>男</span>-->
<!--		    {{# }else if(d.sex == 2){ }}-->
<!--		    <span>女</span>-->
<!--		    {{# } }}-->
<!--		</script>-->

<script type="text/html" id="user-login">
    {{#if (d.role == 1) { }}
    <span class="layui-btn layui-btn-normal layui-btn-sm">管理员</span>
    {{# }else if(d.role == 2){ }}
    <span class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" >会员</span>
    {{# } }}
</script>

<script type="text/html" id="user-createTime">
    {{layui.util.toDateString(d.createTime, 'yyyy-MM-dd')}}
</script>

<script src="../../component/layui/layui.js"></script>
<script src="../../component/pear/pear.js"></script>
<script src="../../config/api.config.js"></script>
<script>
    layui.use(['table', 'form', 'jquery','common','context'], function() {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let common = layui.common;
        let MODULE_PATH = "../notice/";
        const context = layui.context;
        var hostUrl = context.get("hostUrl")

        let cols = [
            [{
                type: 'checkbox'
            },
                {
                    title: '公告标题',
                    field: 'newsTitle',
                    align: 'center',
                    width: 300
                },
                {
                    title: '公告内容',
                    field: 'newsDescription',
                    align: 'center'
                },
                {
                    title: '创建时间',
                    field: 'creatTime',
                    align: 'center',
                    templet:'#user-createTime',
                    width: 150
                },
                {
                    title: '操作',
                    toolbar: '#user-bar',
                    align: 'center',
                    width: 130
                }
            ]
        ]
        console.log(hostUrl)
        table.render({
            elem: '#user-table',
            url: hostUrl+'/notice/list.do',

            request: {
                pageName: 'current' ,//页码的参数名称，默认：page
                limitName: 'size' //每页数据量的参数名，默认：limit
            },
            method:'get',
            page: true,
            cols: cols,
            skin: 'line',
            toolbar: '#user-toolbar',
            defaultToolbar: [{
                layEvent: 'refresh',
                icon: 'layui-icon-refresh',
            }, 'filter', 'print', 'exports'],
            limits: [10, 15, 20, 25, 50, 100],
            limit:10,
        });

        table.on('tool(user-table)', function(obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            } else if (obj.event === 'edit') {
                window.edit(obj);
            }
        });

        table.on('toolbar(user-table)', function(obj) {
            if (obj.event === 'add') {
                window.add();
            } else if (obj.event === 'refresh') {
                window.refresh();
            } else if (obj.event === 'batchRemove') {
                window.batchRemove(obj);
            }
        });

        form.on('submit(user-query)', function(data) {
            table.reload('user-table', {
                url: hostUrl+'/notice/list.do',
                method:"get",

                page: {
                    current: 1
                },
                where: {
                    newsTitle: data.field.newsTitle,
                }
            })
            // table.reload('user-table', {
            // 	where: data.field
            // })
            return false;
        });

        form.on('switch(user-enable)', function(obj) {
            //	console.log(obj)
            //layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
            $.ajax({
                url: hostUrl + "/admin/updateStatus/" + this.value+".do",
                dataType: 'json',
                type: 'get',
                success: function(result) {
                }
            })
        });

        window.add = function() {
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['90%', '90%'],
                content: MODULE_PATH + 'add.html'
            });
        }

        window.edit = function(obj) {
            var data = obj.data
            json = JSON.stringify(data);
            layer.open({
                type: 2,
                title: '修改',
                maxmin:true,
                shadeClose: true,
                shade: 0.1,
                area: ['90%', '90%'],
                content: MODULE_PATH + 'edit.html'
            });
        }
        window.remove = function(obj) {
            layer.confirm('确定要删除该用户', {
                icon: 3,
                title: '提示'
            }, function(index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: hostUrl + "/notice/delete.do?ids=" + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',

                    success: function(result) {
                        layer.close(loading);
                        if (result.data) {
                            layer.msg(result.msg, {
                                icon: 1,
                                time: 1000
                            },function() {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                })
            });
        }

        window.batchRemove = function(obj) {

            var checkIds = common.checkField(obj,'id');
            console.log(checkIds)

            if (checkIds === "") {
                layer.msg("未选中数据", {
                    icon: 3,
                    time: 1000
                });
                return false;
            }

            layer.confirm('确定要删除这些用户', {
                icon: 3,
                title: '提示'
            }, function(index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: hostUrl + "/notice/delete.do?ids=" + checkIds,
                    dataType: 'json',
                    type: 'delete',
                    success: function(result) {
                        layer.close(loading);
                        if (result.data) {
                            layer.msg(result.msg, {
                                icon: 1,
                                time: 1000
                            }, function() {
                                table.reload('user-table');
                            });
                        } else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                })
            });
        }

        window.refresh = function(param) {
            table.reload('user-table');
        }
    })
</script>
</body>
</html>
