<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../component/pear/css/pear.css" />
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body class="pear-container">
<div class="layui-card">
<!--    <div class="layui-card-body">-->
<!--        <form class="layui-form" action="">-->
<!--            <div class="layui-form-item">-->
<!--                <label class="layui-form-label">卡片标题</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="realName" placeholder="" class="layui-input">-->
<!--                </div>-->
<!--                <label class="layui-form-label">卡片名称</label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" name="userId" placeholder="" class="layui-input">-->
<!--                </div>-->

<!--                <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="user-query">-->
<!--                    <i class="layui-icon layui-icon-search"></i>-->
<!--                    查询-->
<!--                </button>-->
<!--                <button type="reset" class="pear-btn pear-btn-md">-->
<!--                    <i class="layui-icon layui-icon-refresh"></i>-->
<!--                    重置-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
</div>
<div class="layui-card">
    <div class="layui-card-header">
        消息列表
    </div>
    <div class="layui-card-body">
        <table id="user-table" lay-filter="user-table"></table>
    </div>
</div>
</body>
<script type="text/html" id="user-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        新增
    </button>
    <button class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
        <i class="layui-icon layui-icon-delete"></i>
        删除
    </button>
</script>

<script type="text/html" id="user-bar">
<!--    <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></button>-->
    <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i></button>
</script>

<script type="text/html" id="user-createTime">
    {{layui.util.toDateString(d.creatTime, 'yyyy-MM-dd')}}
</script>
<script src="../../component/layui/layui.js"></script>
<script src="../../component/pear/pear.js"></script>
<script src="../../config/api.config.js"></script>

<script>
    layui.use(['table','form','jquery','card','context'],function () {
        let table = layui.table;
        let form = layui.form;
        let $ = layui.jquery;
        let card = layui.card;
        const context = layui.context;
        var hostUrl = context.get("hostUrl")

        let MODULE_PATH = "/system/user/";

        table.render({
            elem:'#user-table',
            cols: [
                [
                    {
                        title: '用户名',
                        field: 'name',
                        align: 'center',
                        width: 100
                    },
                    {
                        title: '电话',
                        field: 'telephone',
                        align: 'center',
                        width: 150

                    },
                    {
                        title: '信息',
                        field: 'message',
                        align: 'center',
                    },

                    {
                        title: '消息日期',
                        field: 'creatTime',
                        align: 'center',
                        width: 150,
                        templet: '#user-createTime'
                    },
                    {
                        title: '操作',
                        toolbar: '#user-bar',
                        align: 'center',
                        width: 130
                    }
                ]
            ],
            url:hostUrl+'/message/selectMessageInPage.do',
            request: {
                pageName: 'currentPage' ,//页码的参数名称，默认：page
                limitName: 'pageSize' //每页数据量的参数名，默认：limit
            },

            page:true

        })

        table.on('tool(user-table)', function(obj) {
            if (obj.event === 'remove') {
                window.remove(obj);
            }
        });

        window.remove = function(obj) {
            layer.confirm('确定要删除该记录？', {
                icon: 3,
                title: '提示'
            }, function(index) {
                layer.close(index);
                let loading = layer.load();
                $.ajax({
                    url: hostUrl + "/message/delete.do?id=" + obj.data['id'],
                    dataType: 'json',
                    type: 'delete',

                    success: function(result) {
                        layer.close(loading);
                        if (result.data) {
                            layer.msg(result.msg, {
                                icon: 1,
                                time: 1000
                            },function() {
                                obj.del();
                            });
                        } else {
                            layer.msg(result.msg, {
                                icon: 2,
                                time: 1000
                            });
                        }
                    }
                })
            });
        }

    })
</script>
</html>